.five_heading{
    display: grid;
    margin-top: 100px;
    width: 100%;
    background-color: rgb(47, 47, 47);
    height: 100%;
    grid-template-columns: 2fr 1.5fr;
}
.five_sub{
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    color: aqua;
}
.five_he{
    font-size: 50px;
    color: aqua;
}
.five_img{
    width: 300px;
    height: 300px;
}

.btn_five{
    border-radius: 10px;
    background-color: aqua;
    height: 50px;
    width: 230px;
    cursor: pointer;

}

.five_img{
    border-radius: 15px;
}