body{
    width: 100%;
    position: relative;
}
.header{
    
    display: grid;
    grid-template-columns: 2.7fr 2.7fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: -5px;
   
    list-style: none;
    border-bottom: .5px solid black;
    background: white;
    font-weight: 500;
    align-items: center;
    position: fixed;
    width: 98%;
    
    
}
.header_icons{
   
    text-align: center;
}
.header_links{
    text-decoration: none;

    
}
.active {
    color: aqua;
    
    font-weight: bold;
  }
.header_input{
    margin-right: 30px;
    margin-top: 15px;
    border-radius: 20px;
    width: 200px;
    height: 25px;
    background: #efe8e8;
    border: 2px solid rgb(148, 142, 142);
}
.header_logo{
    margin-left: 100px;
    width: auto;
    height: 60px;
    
   
}

.signup{
    border: 1px solid black;
    background-color: aqua;
    border-radius: 8px;
    width: 80px;
    height: 26px;

    
}
.login{
    border: .7px solid #201f1f;
    background: #f0ebeb;
    height: 26px;
    width: 80px;
    border-radius: 8px;
}


.dropdown_menu{
    
    list-style: none;
    background-color: #ffffff;
    border-radius: 10px;
    z-index: 1;
    width: 100px;
    height: 150px;
    margin-top: 10px;
    border: 1px solid black;
    justify-content: center;
    position: absolute;
}

.dropdown_menu,a{
    
    text-decoration: none;
    
}
.drp_menu{
    color: aqua;
    margin-right: 13px;
    padding: 5px;
}
.drp_menu:hover{
    font-size: large;
    color: #cbbebe;
}